<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jykj.dao.AllotMapper">
    <resultMap id="BaseResultMap" type="com.jykj.entity.Allot">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="goods_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="goods_model" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="price" jdbcType="REAL" javaType="java.lang.Float"/>
            <arg column="num" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="create_user_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="org_id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="in_repo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="out_repo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="confirm_user" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="confirm_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
    id, goods_name, goods_model, price, num, state, create_time, create_user_id, org_id, remark, in_repo, out_repo, confirm_user, confirm_date
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_allot
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_allot
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.jykj.entity.Allot">
    insert into t_allot (id, goods_name, goods_model,price, num, state, create_time,
      create_user_id, org_id, remark, in_repo, out_repo, confirm_user, confirm_date)
    values (#{id,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsModel,jdbcType=VARCHAR},
      #{price,jdbcType=REAL}, #{num,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=INTEGER}, #{orgId,jdbcType=VARCHAR}, #{remark}, #{inRepo}, #{outRepo}, #{confirmUser}, #{confirmDate})
  </insert>

    <insert id="insertSelective" parameterType="com.jykj.entity.Allot">
        insert into t_allot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsModel != null">
                goods_model,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="inRepo != null">
                in_repo,
            </if>
            <if test="outRepo != null">
                out_repo,
            </if>
            <if test="confirmUser != null">
                confirm_user,
            </if>
            <if test="confirmDate != null">
                confirm_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsModel != null">
                #{goodsModel,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=REAL},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="inRepo != null">
                #{inRepo},
            </if>
            <if test="outRepo != null">
                #{outRepo},
            </if>
            <if test="confirmUser != null">
                #{confirmUser},
            </if>
            <if test="confirmDate != null">
                #{confirmDate},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.jykj.entity.Allot">
        update t_allot
        <set>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsModel != null">
                goods_model = #{goodsModel,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=REAL},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="inRepo != null">
                in_repo = #{inRepo},
            </if>
            <if test="outRepo != null">
                out_repo = #{outRepo},
            </if>
            <if test="confirmUser != null">
                confirm_user = #{confirmUser},
            </if>
            <if test="confirmDate != null">
                confirm_date = #{confirmDate},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.jykj.entity.Allot">
    update t_allot
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_model = #{goodsModel,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      num = #{num,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      org_id = #{orgId,jdbcType=VARCHAR},
      remark = #{remark},
      in_repo = #{inRepo},
      out_repo = #{outRepo},
      confrim_user = #{confirmUser},
      confirm_date = #{confirmDate}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="queryByAllot" parameterType="java.lang.String" resultType="com.jykj.entity.Allot">
    select a.id, a.goods_name as goodsName, a.goods_model as  goodsModel, a.price, a.num, a.state, a.create_time as createTime,
            a.create_user_id as createUserId, a.org_id as orgId, a.in_repo as inRepo,
            a.out_repo as outRepo, a.confirm_user as confirmUser, a.confirm_date as confirmDate
            from t_allot as a
            where a.org_id like '${orgId}%'
  </select>

    <select id="list" parameterType="java.util.Map" resultType="com.jykj.entity.Allot">
        select a.id, a.goods_name as goodsName, a.goods_model as goodsModel, a.price, a.num, a.state, a.create_time as
        createTime,
        a.create_user_id as createUserId, a.org_id as orgId, a.in_repo as inRepo,
        a.out_repo as outRepo, a.confirm_user as confirmUser, a.confirm_date as confirmDate
        from t_allot as a
        where 1=1
        <if test="orgId != null and ordId != ''">
            and a.org_id like '${orgId}%'
        </if>
        <if test="orgId != null and ordId != ''">
            and
        </if>
        <if test="orgId != null and ordId != ''">
            and
        </if>
        <if test="orgId != null and ordId != ''">
            and
        </if>
        <if test="orgId != null and ordId != ''">
            and
        </if>
    </select>
</mapper>