<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jykj.dao.ProcessModelMapper">
  <resultMap id="BaseResultMap" type="com.jykj.entity.ProcessModel">
    <constructor>
      <idArg column="ID_" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="REV_" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="NAME_" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="KEY_" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CATEGORY_" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_TIME_" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LAST_UPDATE_TIME_" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="VERSION_" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="META_INFO_" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DEPLOYMENT_ID_" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EDITOR_SOURCE_VALUE_ID_" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EDITOR_SOURCE_EXTRA_VALUE_ID_" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TENANT_ID_" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID_, REV_, NAME_, KEY_, CATEGORY_, CREATE_TIME_, LAST_UPDATE_TIME_, VERSION_, META_INFO_, 
    DEPLOYMENT_ID_, EDITOR_SOURCE_VALUE_ID_, EDITOR_SOURCE_EXTRA_VALUE_ID_, TENANT_ID_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_re_model
    where ID_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from act_re_model
    where ID_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jykj.entity.ProcessModel">
    insert into act_re_model (ID_, REV_, NAME_, 
      KEY_, CATEGORY_, CREATE_TIME_, 
      LAST_UPDATE_TIME_, VERSION_, META_INFO_, 
      DEPLOYMENT_ID_, EDITOR_SOURCE_VALUE_ID_, EDITOR_SOURCE_EXTRA_VALUE_ID_, 
      TENANT_ID_)
    values (#{id,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{key,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, #{metaInfo,jdbcType=VARCHAR}, 
      #{deploymentId,jdbcType=VARCHAR}, #{editorSourceValueId,jdbcType=VARCHAR}, #{editorSourceExtraValueId,jdbcType=VARCHAR}, 
      #{tenantId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jykj.entity.ProcessModel">
    insert into act_re_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID_,
      </if>
      <if test="rev != null">
        REV_,
      </if>
      <if test="name != null">
        NAME_,
      </if>
      <if test="key != null">
        KEY_,
      </if>
      <if test="category != null">
        CATEGORY_,
      </if>
      <if test="createTime != null">
        CREATE_TIME_,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME_,
      </if>
      <if test="version != null">
        VERSION_,
      </if>
      <if test="metaInfo != null">
        META_INFO_,
      </if>
      <if test="deploymentId != null">
        DEPLOYMENT_ID_,
      </if>
      <if test="editorSourceValueId != null">
        EDITOR_SOURCE_VALUE_ID_,
      </if>
      <if test="editorSourceExtraValueId != null">
        EDITOR_SOURCE_EXTRA_VALUE_ID_,
      </if>
      <if test="tenantId != null">
        TENANT_ID_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rev != null">
        #{rev,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="metaInfo != null">
        #{metaInfo,jdbcType=VARCHAR},
      </if>
      <if test="deploymentId != null">
        #{deploymentId,jdbcType=VARCHAR},
      </if>
      <if test="editorSourceValueId != null">
        #{editorSourceValueId,jdbcType=VARCHAR},
      </if>
      <if test="editorSourceExtraValueId != null">
        #{editorSourceExtraValueId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jykj.entity.ProcessModel">
    update act_re_model
    <set>
      <if test="rev != null">
        REV_ = #{rev,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        KEY_ = #{key,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        CATEGORY_ = #{category,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME_ = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION_ = #{version,jdbcType=INTEGER},
      </if>
      <if test="metaInfo != null">
        META_INFO_ = #{metaInfo,jdbcType=VARCHAR},
      </if>
      <if test="deploymentId != null">
        DEPLOYMENT_ID_ = #{deploymentId,jdbcType=VARCHAR},
      </if>
      <if test="editorSourceValueId != null">
        EDITOR_SOURCE_VALUE_ID_ = #{editorSourceValueId,jdbcType=VARCHAR},
      </if>
      <if test="editorSourceExtraValueId != null">
        EDITOR_SOURCE_EXTRA_VALUE_ID_ = #{editorSourceExtraValueId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID_ = #{tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jykj.entity.ProcessModel">
    update act_re_model
    set REV_ = #{rev,jdbcType=INTEGER},
      NAME_ = #{name,jdbcType=VARCHAR},
      KEY_ = #{key,jdbcType=VARCHAR},
      CATEGORY_ = #{category,jdbcType=VARCHAR},
      CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_TIME_ = #{lastUpdateTime,jdbcType=TIMESTAMP},
      VERSION_ = #{version,jdbcType=INTEGER},
      META_INFO_ = #{metaInfo,jdbcType=VARCHAR},
      DEPLOYMENT_ID_ = #{deploymentId,jdbcType=VARCHAR},
      EDITOR_SOURCE_VALUE_ID_ = #{editorSourceValueId,jdbcType=VARCHAR},
      EDITOR_SOURCE_EXTRA_VALUE_ID_ = #{editorSourceExtraValueId,jdbcType=VARCHAR},
      TENANT_ID_ = #{tenantId,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>

  <select id="list" parameterType="java.lang.String" resultType="com.jykj.entity.ProcessModel">
     select ID_ as id, REV_ as rev, NAME_ as name, KEY_ as key1, CREATE_TIME_ as createTime , LAST_UPDATE_TIME_ as lastUpdateTime
     from act_re_model
     where 1 = 1
     <if test="name!=null and name!=''">
       and NAME_ like '%${name}%'
     </if>
  </select>

  <select id="waitTaskList" parameterType="java.util.Map" resultType="com.jykj.entity.WaitTask">
      select a.ID_ as taskId, c.NAME_ as processName, c.KEY_ as processKey, b.commit_name as commitName,
      a.ASSIGNEE_ as assignee,  b.vehicle_num as vehicleNum,
      b.repair_num as repairNum, b.farm, a.NAME_ as currentTaskName, a.CREATE_TIME_ as createTime,
      a.TASK_DEF_KEY_ as taskDefKey
      from act_ru_task as a
      left join t_repair_order as b on a.PROC_INST_ID_ = b.process_instance_id
      left join act_re_procdef c on a.PROC_DEF_ID_ = c.ID_
      where 1 = 1
     <if test="userId!=null and userId!=''">
        and a.ASSIGNEE_ = #{userId}
     </if>
     <if test="vehicleNum!=null and vehicleNum!=''">
        and  b.vehicle_num like '%${vehicleNum}%'
     </if>
     <if test="farm!=null and farm!=''">
         and b.farm = #{farm}
     </if>
     <if test="startTime!=null and startTime !=''">
          and DATE_FORMAT(a.CREATE_TIME_, '%y-%m-%d') <![CDATA[ >= ]]> #{startTime}
     </if>
      <if test="endTime!=null and endTime !=''">
          and DATE_FORMAT(a.CREATE_TIME_, '%y-%m-%d') <![CDATA[ <= ]]> #{endTime}
      </if>
  </select>

    <select id="overTask" parameterType="java.util.Map" resultType="com.jykj.entity.OverTask">
        select a.ID_ as taskId, c.NAME_ as processName, c.KEY_ as processKey, b.commit_name as commitName,
        a.ASSIGNEE_ as assignee,  b.vehicle_num as vehicleNum,
        b.repair_num as repairNum, b.farm, a.NAME_ as currentTaskName,
        a.TASK_DEF_KEY_ as taskDefKey, a.START_TIME_ as startTime, a.END_TIME_ as endTime
        from act_hi_taskinst as a
        left join t_repair_order as b on a.PROC_INST_ID_ = b.process_instance_id
        left join act_re_procdef c on a.PROC_DEF_ID_ = c.ID_
        where 1 = 1 and a.TASK_DEF_KEY_ = 'end' and  a.END_TIME_ is not null
        <if test="userId!=null and userId!=''">
            and a.ASSIGNEE_ = #{userId}
        </if>
        <if test="vehicleNum!=null and vehicleNum!=''">
            and  b.vehicle_num like '%${vehicleNum}%'
        </if>
        <if test="farm!=null and farm!=''">
            and b.farm = #{farm}
        </if>
        <if test="startTime!=null and startTime !=''">
            and DATE_FORMAT(a.START_TIME_, '%y-%m-%d') <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime!=null and endTime !=''">
            and DATE_FORMAT(a.START_TIME_, '%y-%m-%d') <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>

    <select id="ruProcess" parameterType="java.util.Map" resultType="com.jykj.entity.RunProcess">
        select a.ID_ as taskId, c.NAME_ as processName, c.KEY_ as processKey, b.commit_name as commitName,
        a.ASSIGNEE_ as assignee,  b.vehicle_num as vehicleNum,
        b.repair_num as repairNum, b.farm, a.NAME_ as currentTaskName,
        a.TASK_DEF_KEY_ as taskDefKey, a.START_TIME_ as startTime, a.END_TIME_ as endTime
        from act_hi_taskinst as a
        left join t_repair_order as b on a.PROC_INST_ID_ = b.process_instance_id
        left join act_re_procdef c on a.PROC_DEF_ID_ = c.ID_
        where 1 = 1 and a.END_TIME_ is null
        <if test="userId!=null and userId!=''">
            and a.ASSIGNEE_ = #{userId}
        </if>
        <if test="vehicleNum!=null and vehicleNum!=''">
            and  b.vehicle_num like '%${vehicleNum}%'
        </if>
        <if test="processName!=null and processName!=''">
            and c.NAME_ like '%${processName}%'
        </if>
        <if test="farm!=null and farm!=''">
            and b.farm = #{farm}
        </if>
        <if test="startTime!=null and startTime !=''">
            and DATE_FORMAT(a.START_TIME_, '%y-%m-%d') <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime!=null and endTime !=''">
            and DATE_FORMAT(a.START_TIME_, '%y-%m-%d') <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>

    <select id="runProcessDetail" resultType="com.jykj.entity.RunProcess" parameterType="java.lang.String">
        select a.ID_ as taskId,c.NAME_ as processName, c.KEY_ as processKey, b.commit_name as commitName,
        a.ASSIGNEE_ as assignee,  b.vehicle_num as vehicleNum,
        b.repair_num as repairNum, b.farm, a.NAME_ as currentTaskName,
        a.TASK_DEF_KEY_ as taskDefKey, a.START_TIME_ as startTime, a.END_TIME_ as endTime
        from act_hi_taskinst as a
        left join t_repair_order as b on a.PROC_INST_ID_ = b.process_instance_id
        left join act_re_procdef c on a.PROC_DEF_ID_ = c.ID_
        where 1 = 1 and a.PROC_INST_ID_ = #{proInsId}
        order by a.ID_ desc
    </select>

    <select id="queryProcessDetail" parameterType="string" resultType="com.jykj.entity.RepairOrder">
      select repair_id as repairId, repair_num as repairNum, driver_name as driverName,
       driver_num as driverNum, commit_name as commitName, checker_name as checkerName,
       repair_status as repairStatus, vehicle_num as vehicleNum, tenant_id as tenantId,
       repair_message as repairMessage,create_time as createTime,contact_name as contactName
      from t_repair_order
      where process_instance_id = #{processInstanceId}
    </select>

    <select id="hiProcess" parameterType="java.util.Map" resultType="com.jykj.entity.HistoryProcess">
      select  a.ID_ as id, c.NAME_ as proName,c.VERSION_ as version, a.START_TIME_ as startTime, a.END_TIME_ as endTime,
       a.DURATION_ AS duration
      from act_hi_procinst as a
      left join t_repair_order as b on a.PROC_INST_ID_ = b.process_instance_id
      left join act_re_procdef as c on a.PROC_DEF_ID_ = c.ID_
        where a.endTime is not null
        <if test="processName!=null and processName!=''">
            and c.NAME_ like '%${processName}%'
        </if>
        <if test="startTime!=null and startTime !=''">
            and DATE_FORMAT(a.START_TIME_, '%y-%m-%d') <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime!=null and endTime !=''">
            and DATE_FORMAT(a.START_TIME_, '%y-%m-%d') <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>
</mapper>